# Jupyter Notebook
.ipynb_checkpoints
*/.ipynb_checkpoints/*
ipython_config.py

# pyenv
.python-version

# Ignore image files and numpy files
*.png
*.jpg
*.jpeg
*.tiff
*.npy 
calibration.mat
__pycache__